//COLORS

$color-green: #4C9B34;
$color-white: #FFFFFF;
$color-grey: #BABABA;
$color-grey-light: #F5F5F5;
$color-grey-dark: #8F929A;
$color-turquoise: #68B1BB;
$color-turquoise-bright: #B2EAF0;

// RESOLUTIONS

$mq-phone-small: 320px;
$mq-phone: 360px;
$mq-phone-wide: 480px;
$mq-phablet: 560px;
$mq-tablet-small: 640px;
$mq-tablet: 768px;
$mq-tablet-wide: 1024px;
$mq-desktop: 1024px;
$mq-desktop-wide: 1440px;

//OBJECT OF RESOLUTIONS

$breakpoints: (
	'phone-small': $mq-phone-small,
	'phone': $mq-phone,
	'phone-wide': $mq-phone-wide,
	'phablet': $mq-phablet,
	'tablet-small': $mq-tablet-small,
	'tablet': $mq-tablet,
	'tablet-wide': $mq-tablet-wide,
	'desktop': $mq-desktop,
	'desktop-wide': $mq-desktop-wide
);
